<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.0.19" targetFramework="sl40-wp71" />
  <package id="Microsoft.Bcl.Build" version="1.0.7" targetFramework="sl40-wp71" />
  <package id="Microsoft.Net.Http" version="2.1.10" targetFramework="sl40-wp71" />
  <package id="ServiceStack.Text" version="3.9.55" targetFramework="sl40-wp71" />
</packages>